config SNAKE_USE_CUSTOM_COLORSCHEME
    bool "Use custom colorscheme"
    default n

config THEME_COLOR_1
    string "Color 1"
    default "4aedff"

config THEME_COLOR_2
    string "Color 2"
    default "ff8acd"

config THEME_COLOR_3
    string "Color 3"
    default "b03e80"
    
config THEME_COLOR_4
    string "Color 4"
    default "ffffff"